VITE_SUPABASE_URL=https://tlzakqpkbnciyhtfqyzn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsemFrcXBrYm5jaXlodGZxeXpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMTE2MjMsImV4cCI6MjA5Mjg4NzYyM30.cj1CH6SRF3-NJmeCnYB7413hrrO1XHkj6VKFq6wAXAU
